<h2>Papers</h2>

<div class="card-container">
<% for (const post of items) { %>
  <a href="<%= post.path %>" class="card" title="<%= post.title %>">
    <img class="card-image" src=<%=post.image%> alt="이미지 설명">
    <span class="card-text"><%= post.title %></span>
    <span class="card-text-author"><%= post.author%>, <%= post.date %></span>
  </a>
<% } %>
</div>
